*{
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/*div{*/
/*    border: 2px solid black; */
/*}*/

#content{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 60px 180px 5px 180px;;
}

#content_left{
    width: 38%;
    margin-top: 40px;
    background-color: #f3f1f5;
    border-radius: 5px;
    padding: 15px 25px;
}

#content_right{
    width: 62%;
    margin-top: 50px;
    padding-left: 20px;
}

.head{
    display: flex;
}

.head > #name{
    width: 80%;
    font-size: 28px;
    font-weight: 480;
    color: #213048;
}

.head > #heart{
    width: 20%;
}

#heart > label > .fa-heart{
    font-size: 35px;
    margin:5px 0 0 40px;
    cursor: pointer;
}

#heart > input[type=checkbox]{
    display: none;
}

#heart > label > .fa-heart:hover{
    color: #e74464;
}
#heart > label > .fa-heart :hover ~ label{
    color: #e74464;
}
#heart > input[type=checkbox]:checked ~ label{
    color: #e74464;
}


.body {
    height: 250px;
    margin-top: 25px;
}

.body > table > tbody > tr{
    height: 35px;
}

.body > table > tbody > tr > th{
    width: 20%;
    font-weight: 420;
    font-size: 18px;
}

.body > table > tbody > tr > td{
    width: 80%;
    padding-left: 10px;
    font-weight: 400;
    font-size: 17px;
}


.foot{
    height: 250px;
}

.foot > div{
    display: flex;
    padding-left: 10px;
}

.foot > div > .fa-handshake{
    font-size: 30px;
    margin-right: 15px;
}

.foot > div > p{
    font-size: 20px;
    font-weight: 420;
}

#map ,#roadview{
    width: 95%;
    height: 320px;
}