<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="adminMapper">

    <resultMap id="AdminResultSet" type="admin">
        <result column="PROVIDER" property="provider"/>
        <result column="PROVIDER_ID" property="providerId"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="EMAIL" property="email"/>
        <result column="GRADE" property="grade"/>
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="STATUS" property="status"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="RECENT_ACCESS" property="recentAccess"/>
    </resultMap>

    <resultMap id="ReportResultSet" type="report">
        <result column="REPORT_NO" property="reportNo"/>
        <result column="FREE_BNO" property="fNo"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="NICKNAME2" property="nickName2"/>
        <result column="EMAIL" property="email"/>
        <result column="MEMBER_NO" property="reporter"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="MEMBER_NAME2" property="memberName2"/>
        <result column="REPORT_USER_NO" property="reportedPerson"/>
        <result column="REPORT_CONTENT" property="reportContent"/>
        <result column="REPORT_TYPE" property="reportType"/>
        <result column="QS" property="qStatus"/>
        <result column="FS" property="fStatus"/>
    </resultMap>


    <select id="selectUserList" resultMap="AdminResultSet">
        select M.MEMBER_NO,
               MEMBER_NAME,
               NICKNAME,
               EMAIL,
               PROVIDER,
               PROVIDER_ID,
               GRADE,
               M.STATUS,
            M.RECENT_ACCESS
        FROM MEMBER M
                 LEFT JOIN FREE_BOARD F ON (M.MEMBER_NO = F.FREE_BNO)
        ORDER BY MEMBER_NO

    </select>

    <select id="selectReportList" resultMap="ReportResultSet" parameterType="int">
        SELECT REPORT_NO,
               REPORT_CONTENT,
               REPORT_TYPE,
               R.FREE_BNO,
               F.STATUS                                                      AS FS,
               Q.STATUS                                                      AS QS,
               M.MEMBER_NAME,
               M.NICKNAME,
               R.MEMBER_NO,
               R.REPORT_USER_NO,
               (SELECT NICKNAME FROM MEMBER WHERE MEMBER_NO = REPORT_USER_NO) AS NICKNAME2,
               (SELECT MEMBER_NAME FROM MEMBER WHERE MEMBER_NO = REPORT_USER_NO) AS MEMBER_NAME2


        FROM REPORT R
                 LEFT OUTER JOIN MEMBER M ON (R.MEMBER_NO = M.MEMBER_NO)
                 LEFT OUTER JOIN FREE_BOARD F ON (F.FREE_BNO = R.FREE_BNO)
                 LEFT OUTER JOIN QNA_BOARD Q ON (Q.QNA_BNO = R.FREE_BNO)
    </select>

    <select id="uListCount" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
    </select>

    <select id="rListCount" resultType="int">
        SELECT COUNT(*)
        FROM REPORT
    </select>
    <update id="deleteQna" parameterType="int">
        UPDATE QNA_BOARD
        SET STATUS = 'N'
        WHERE QNA_BNO in (SELECT QNA_BNO
                          FROM QNA_BOARD
                          START WITH QNA_BNO = #{fNo}
                          CONNECT BY PRIOR QNA_BNO = P_BNO)
    </update>


    <update id="deleteFree" parameterType="int">
        UPDATE FREE_BOARD
        SET STATUS = 'N'
        WHERE FREE_BNO = #{fNo}
    </update>


</mapper>