<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="adminMapper">

    <resultMap id="AdminResultSet" type="admin">
        <result column="REPORT_NO" property="reportNo"/>
        <result column="FREE_BNO" property="freeBno"/>
        <result column="PROVIDER_ID" property="providerId"/>
        <result column="EMAIL" property="email"/>
        <result column="REPORTED_EMAIL" property="reportedEmail"/>
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="STATUS" property="status"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="REPORT_REASON" property="reportReason"/>
        <result column="REPORT_USER_NO" property="reportUserNo"/>
        <result column="REPORT_CONTENT" property="reportContent"/>

    </resultMap>

    <select id="userList" resultMap="AdminResultSet">
        select
            MEMBER_NO,
            MEMBER_NAME,
            PROVIDER_ID,
            EMAIL,
            STATUS
        FROM MEMBER
        WHERE STATUS = 'Y'

    </select>


 <!--   <insert id="insertReport" parameterType="admin">
        INSERT INTO REPORT(
            REPORT_NO, FREE_BNO, MEMBER_NO, REPORT_REASON, REPORT_USER_NO, REPORT_CONTENT)
    VALUES (SEQ_REPORT_NO.NEXTVAL,
            FREE_BNO = #{freeBno},
            MEMBER_NO=#{memberNo},
            REPORT_REASON= #{reportReason},
            REPORT_USER_NO = #{reportUserNo},
            REPORT_CONTENT = #{reportContent}
            )
    </insert>-->
    <select id="reportList" resultMap="AdminResultSet">
        SELECT
            REPORT_NO,
            REPORT_REASON,
            REPORT_CONTENT,
            M.EMAIL,
            M.EMAIL AS REPORTED_EMAIL
        FROM REPORT R
        JOIN MEMBER M ON (R.MEMBER_NO = M.MEMBER_NO)

    </select>

    <select id="uListCount" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
    </select>

    <select id="rListCount" resultType="int">
        SELECT COUNT(*)
        FROM REPORT
    </select>
    <update id="deleteBoard" parameterType="int">
        UPDATE FREE_BOARD
        SET STATUS = 'N'
        WHERE FREE_BNO = #{freeBno}
    </update>





</mapper>