<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

    <resultMap type="chatingRoom" id="chatroomResultSet">
        <id column="CHAT_ROOM_NO" property="roomNo"/>
        <result column="MEMBER_NO" property="memberNo"/>
    </resultMap>

    <resultMap id="chatMessageResultSet" type="chatMessage">
        <result column="CM_NO" property="cmNo"/>
        <result column="CHAT_ROOM_NO" property="roomNo"/>
        <result column="SEND_NO" property="sendNo"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="READ" property="read"/>
        <result column="MS_CONTENT" property="content"/>
    </resultMap>

    <select id="roomCheck" resultMap="chatroomResultSet">
        SELECT
            CHAT_ROOM_NO,
            MEMBER_NO
        FROM CHAT_ROOM
        WHERE MEMBER_NO = #{memberNo}
    </select>


    <insert id="chatRoomInsert">
        INSERT INTO CHAT_ROOM(CHAT_ROOM_NO, MEMBER_NO)
            VALUES (#{roomNo},#{memberNo})
    </insert>

    <select id="messageList" resultMap="chatMessageResultSet">
        SELECT CM_NO,
               CHAT_ROOM_NO,
               SEND_NO,
               CREATE_DATE,
               READ,
               MS_CONTENT
        FROM CHAT_MESSAGE
        WHERE CHAT_ROOM_NO = #{roomNo}
        ORDER BY CREATE_DATE
    </select>

    <insert id="enterRoom">
        INSERT INTO CHAT_ROOM_JOIN(CHAT_ROOM_NO, MEMBER_NO)
        VALUES (#{chatRoomNo},#{memberNo})
    </insert>

    <insert id="sendMessage">
        INSERT INTO CHAT_MESSAGE(CM_NO, CHAT_ROOM_NO, SEND_NO, CREATE_DATE, READ, MS_CONTENT)
        VALUES (SEQ_CM_NO.nextval,#{roomNo},#{sender},default,default,#{contents})
    </insert>


</mapper>