<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

    <resultMap type="member" id="memberResultSet">
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="PROVIDER" property="provider"/>
        <result column="PROVIDER_ID" property="providerId"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="PROFILE_IMAGE" property="profileImage"/>
        <result column="EMAIL" property="email"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="PHONE" property="phone"/>
        <result column="ADDRESS" property="address"/>
        <result column="STATUS" property="status"/>
        <result column="GRADE" property="grade"/>
        <result column="INTEREST_STATE" property="interestState"/>
    </resultMap>

    <resultMap type="memberInterest" id="interestList">
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="PROVIDER" property="provider"/>
        <result column="PROVIDER_ID" property="providerId"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="ESTATE_NO" property="estateNo"/>
        <result column="BLDG_NM" property="bldgNm"/>
        <result column="ADDRESS" property="address"/>
        <collection resultMap="interestList1" property="interestList"/>
        <collection resultMap="interestList2" property="interestList"/>
    </resultMap>

    <resultMap type="interest" id="interestList1">
        <result column="ESTATE_NO" property="estateNo"/>
    </resultMap>
    <resultMap type="realEstateSell" id="interestList2">
        <result column="ESTATE_NO" property="estateNo"/>
    </resultMap>



    <insert id="insert" parameterType="member">
        INSERT INTO MEMBER
        (MEMBER_NO, PROVIDER, PROVIDER_ID, MEMBER_NAME, PROFILE_IMAGE, EMAIL, NICKNAME, PHONE, ADDRESS, RECENT_ACCESS)
        VALUES (SEQ_MEMBER_NO.NEXTVAL, #{provider}, #{providerId}, #{memberName}, #{profileImage}, #{email},
                #{nickName}, #{phone}, #{address}, #{recentAccess})
    </insert>

    <select id="selectByMemberNo" resultMap="memberResultSet">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_NO = #{memberNo}
    </select>
    <select id="select" parameterType="Map" resultMap="memberResultSet">
        SELECT *
        FROM MEMBER
        WHERE PROVIDER = #{provider}
          AND PROVIDER_ID = #{providerId}
    </select>



    <select id="loginMember" parameterType="member" resultMap="memberResultSet">
        SELECT
            MEMBER_NO, NICKNAME, PROFILE_IMAGE, EMAIL, INTEREST_STATE, PHONE, ADDRESS, PROVIDER, PROVIDER_ID
        FROM MEMBER
        WHERE MEMBER_NO = #{memberNo}
          AND STATUS = 'Y'
    </select>

    <update id="update" parameterType="member">
        UPDATE MEMBER
        SET
            MEMBER_NO = #{memberNo},
            NICKNAME = #{nickName},
            EMAIL = #{email},
            PHONE = #{phone},
            ADDRESS = #{address},
            INTEREST_STATE = #{interestState},
            GRADE = 'GENERAL2'
        WHERE MEMBER_NO = #{memberNo}
    </update>



    <update id="updateRecentAccess" parameterType="Map">
        UPDATE MEMBER
        SET
            RECENT_ACCESS = CURRENT_TIMESTAMP
        WHERE PROVIDER = #{provider}
          AND PROVIDER_ID = #{providerId}
    </update>

    <select id="getInterestList" resultMap="interestList">
        SELECT
            M.MEMBER_NO,
            M.PROVIDER,
            M.PROVIDER_ID,
            M.NICKNAME,
            I.ESTATE_NO,
            S.BLDG_NM,
            S.SGG_NM || ' ' || BJDONG_NM || ' ' || BONBEON || '-' || BUBEON as ADDRESS

        FROM MEMBER M
                 LEFT OUTER JOIN INTEREST I
                                 ON M.MEMBER_NO = I.MEMBER_NO
                 JOIN REALESTATE_SELL S
                      ON I.ESTATE_NO = S.ESTATE_NO
        WHERE M.MEMBER_NO = #{memberNo}


    </select>

    <resultMap id="allBoardResultSet" type="allBoard">
        <result column="FREE_BNO" property="boardNo"/>
        <result column="BOARD_TITLE" property="boardTitle"/>
        <result column="BOARD_DATE" property="boardDate"/>
        <result column="QNA_BNO" property="qnaNo"/>
        <result column="QNA_TITLE" property="qnaTitle"/>
        <result column="QNA_DATE" property="qnaDate"/>
        <result column="TYPE" property="boardType"/>

    </resultMap>
    <select id="selectAllBoard" resultMap="allBoardResultSet">
        SELECT
            F.FREE_BNO,
            F.BOARD_TITLE,
            F.BOARD_DATE,
            'F' AS TYPE
        FROM FREE_BOARD F
                 LEFT JOIN MEMBER M ON M.MEMBER_NO = F.MEMBER_NO
        WHERE M.MEMBER_NO = #{memberNo}

        UNION ALL
        SELECT
            Q.QNA_BNO,
            Q.QNA_TITLE,
            Q.QNA_DATE,
            'Q' AS TYPE
        FROM QNA_BOARD Q
                 LEFT JOIN MEMBER M ON M.MEMBER_NO = Q.MEMBER_NO
        WHERE M.MEMBER_NO = #{memberNo}
    </select>

    <select id="selectAllBoardCount" resultType="int">
        SELECT
            COUNT(*)
        FROM (SELECT
                  FREE_BNO,
                  BOARD_TITLE,
                  BOARD_DATE,
                  'F' AS TYPE
              FROM FREE_BOARD
              WHERE MEMBER_NO = #{memberNo}
              UNION ALL
              SELECT
                  QNA_BNO,
                  QNA_TITLE,
                  QNA_DATE,
                  'Q' AS TYPE
              FROM QNA_BOARD
              WHERE MEMBER_NO = #{memberNo})
    </select>

    <update id="deleteMember" parameterType="long">
        DELETE FROM MEMBER
        WHERE MEMBER_NO = #{memberNo}
    </update>

    <delete id="delete" parameterType="Map">
        DELETE FROM INTEREST WHERE ESTATE_NO = #{estateNo} AND MEMBER_NO = #{memberNo}
    </delete>

<!--    <select id="selectInterestList" parameterType="String" resultMap="interestList">-->
<!--        SELECT-->
<!--            I.ESTATE_NO,-->
<!--            RS.BLDG_NM,-->
<!--            RS.SGG_NM || ' ' || BJDONG_NM || ' ' || BONBEON || '-' || BUBEON as ADDRESS-->
<!--        FROM INTEREST I-->
<!--        JOIN REALESTATE_SELL RS on I.ESTATE_NO = RS.ESTATE_NO-->
<!--    </select>-->
</mapper>