<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="qnaBoardMapper">

    <resultMap type="qnaBoard" id="qnaBoardResultSet">
        <result column="QNA_BNO" property="qnaBno"/>
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="P_BNO" property="parentBno"/>
        <result column="QNA_TITLE" property="qnaTitle"/>
        <result column="QNA_CONTENT" property="qnaContent"/>
        <result column="QNA_DATE" property="qnaDate"/>
        <result column="COUNT" property="count"/>
        <result column="STATUS" property="status"/>
        <result column="QNA_AREA" property="qnaArea"/>
        <result column="NICKNAME" property="qnaWriter"/>
        <result column="QNA_WRITER" property="qnaWriter"/>
        <result column="QNA_DEPTH" property="depth"/>
        <result column="NOTICE" property="notice"/>
        <result column="BLIND" property="blind"/>
    </resultMap>

    <resultMap id="reportResultSet" type="report">
        <result column="REPORT_NO" property="reportNo"/>
        <result column="QNA_BNO" property="reportQno"/>
        <result column="MEMBER_NO" property="reportedPerson"/>
        <result column="REPORT_USER_NO" property="reporter"/>
        <result column="REPORT_CONTENT" property="reportContent"/>
    </resultMap>

    <select id="selectQnaList" parameterType="Map" resultMap="qnaBoardResultSet">
        SELECT QNA_BNO,
            M.MEMBER_NO,
            M.NICKNAME AS QNA_WRITER,
            P_BNO,
            QNA_TITLE,
            QNA_DATE,
            QNA_DEPTH,
            QNA_AREA,
            COUNT,
            BLIND
        FROM QNA_BOARD B
        LEFT JOIN MEMBER M ON (M.MEMBER_NO = B.MEMBER_NO)
        WHERE B.STATUS = 'Y' AND NOTICE = 0
        <if test="!state.isBlank()">
            AND QNA_AREA = #{state}
        </if>
        <if test="!search.isBlank()">
            AND (
            QNA_TITLE like '%' || #{search} || '%'
            OR
            QNA_WRITER like '%' || #{search} || '%'
            OR
            QNA_AREA like '%' || #{search} || '%'
            )
        </if>
        START WITH P_BNO IS NULL
        CONNECT BY PRIOR QNA_BNO = P_BNO
        ORDER SIBLINGS BY QNA_BNO DESC
    </select>

    <select id="selectQnaListCount" resultType="int">
        SELECT COUNT(*)
        FROM QNA_BOARD
        WHERE STATUS='Y'
        <if test="!state.isBlank()">
            AND QNA_AREA = #{state}
        </if>
        <if test="!search.isBlank()">
            AND (
            QNA_TITLE like '%' || #{search} || '%'
            OR
            QNA_WRITER like '%' || #{search} || '%'
            OR
            QNA_AREA like '%' || #{search} || '%'
            )
        </if>
    </select>

    <select id="selectQaNoticeList" resultMap="qnaBoardResultSet">
        SELECT
            QNA_BNO,
            Q.MEMBER_NO,
            NICKNAME,
            QNA_TITLE,
            QNA_DATE,
            COUNT
        FROM QNA_BOARD Q
        JOIN MEMBER M ON M.MEMBER_NO = Q.MEMBER_NO
        WHERE NOTICE = 1
        ORDER BY QNA_DATE DESC
    </select>

    <update id="selectReportList">
        UPDATE QNA_BOARD
        SET BLIND = 'Y'
        WHERE QNA_BNO IN (SELECT
                               FREE_BNO
                           FROM REPORT
                           WHERE REPORT_TYPE = '질문게시판'
                           GROUP BY FREE_BNO
                           HAVING COUNT(FREE_BNO) >= 5)
    </update>

    <insert id="insertQboard" parameterType="qnaBoard">
        INSERT INTO QNA_BOARD(QNA_BNO, MEMBER_NO, QNA_WRITER, QNA_TITLE, QNA_CONTENT ,QNA_AREA)
        VALUES (SEQ_QNA_BNO.NEXTVAL, #{memberNo},#{qnaWriter}, #{qnaTitle},#{qnaContent}, #{qnaArea})
    </insert>

    <insert id="insertNotice" parameterType="qnaBoard">
        INSERT INTO QNA_BOARD(QNA_BNO, MEMBER_NO, QNA_WRITER, QNA_TITLE, QNA_CONTENT ,QNA_AREA, NOTICE)
        VALUES (SEQ_QNA_BNO.NEXTVAL, #{memberNo},#{qnaWriter}, #{qnaTitle},#{qnaContent}, #{qnaArea}, 1)
    </insert>


    <select id="selectQboard" parameterType="int" resultMap="qnaBoardResultSet">
        SELECT QNA_BNO,
               COUNT,
               QNA_TITLE,
               QNA_CONTENT,
               M.NICKNAME,
               M.MEMBER_NO,
               QNA_AREA,
               QNA_DEPTH,
               P_BNO,
               QNA_DATE
        FROM QNA_BOARD Q
        LEFT JOIN MEMBER M ON (M.MEMBER_NO = Q.MEMBER_NO)
        WHERE Q.STATUS = 'Y'
          AND QNA_BNO = #{qBno}
    </select>

    <update id="increaseCount" parameterType="int">
        UPDATE QNA_BOARD
        SET COUNT = COUNT + 1
        WHERE QNA_BNO = #{qBno}
    </update>

    <select id="selectAnswer" parameterType="int" resultMap="qnaBoardResultSet">
        SELECT QNA_BNO,
               QNA_TITLE,
               M.MEMBER_NO,
               QNA_CONTENT,
               M.NICKNAME AS QNA_WRITER,
               BLIND
        FROM QNA_BOARD Q
                 LEFT JOIN MEMBER M ON (M.MEMBER_NO = Q.MEMBER_NO)
        WHERE Q.STATUS = 'Y'
          AND P_BNO = #{qBno}
    </select>

    <insert id="insertAnswer" parameterType="qnaBoard">
        INSERT INTO QNA_BOARD(QNA_BNO, MEMBER_NO, QNA_TITLE, QNA_WRITER,QNA_CONTENT, P_BNO, QNA_DEPTH)
        VALUES (SEQ_QNA_BNO.NEXTVAL, #{memberNo}, #{qnaTitle},#{qnaWriter}, #{qnaContent}, #{parentBno}, #{depth})
    </insert>


    <update id="deleteBoard" parameterType="int">
        UPDATE QNA_BOARD
        SET STATUS = 'N'
        WHERE QNA_BNO in (
            SELECT QNA_BNO FROM qna_board
            START WITH QNA_BNO = #{qBno}
            CONNECT BY PRIOR QNA_BNO = P_BNO
        )
    </update>

    <insert id="insertReport" parameterType="report">
        INSERT INTO REPORT (REPORT_NO, FREE_BNO, MEMBER_NO, REPORT_USER_NO, REPORT_CONTENT,REPORT_TYPE)
        VALUES (SEQ_REPORT_NO.NEXTVAL, ${reportFno}, ${reportedPerson}, ${reporter}, '${reportContent}','질문게시판')
    </insert>

    <select id="selectByQnaBno" parameterType="_int" resultMap="qnaBoardResultSet">
        SELECT *
        FROM QNA_BOARD
        WHERE QNA_BNO = #{qnaBno}
    </select>


</mapper>