<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sellMapper">

    <resultMap type="com.project.realestate.dto.RealEstateDetailDto" id="realEstateDtoResultSet">
        <result column="ESTATE_NO" property="estateNo"/>
        <result column="ACC_YEAR" property="accYear"/>
        <result column="ADDRESS" property="address"/>
        <result column="BLDG_NM" property="bldgNm"/>
        <result column="OBJ_AMT" property="objAmt"/>
        <result column="BLDG_AREA" property="bldgArea"/>
        <result column="GBN" property="gbn"/>
    </resultMap>

    <resultMap type="RealEstateSell" id="realEstateSellResultSet">
        <result column="ACC_YEAR" property="accYear"/>
        <result column="SGG_CD" property="sggCd"/>
        <result column="SGG_NM" property="sggNm"/>
        <result column="BJDONG_CD" property="bjdongCd"/>
        <result column="BJDONG_NM" property="bjdongNm"/>
        <result column="BONBEON" property="bonbeon"/>
        <result column="BUBEON" property="bubeon"/>
        <result column="BLDG_NM" property="bldgNm"/>
        <result column="DEAL_NM" property="dealNm"/>
        <result column="DEAL_YMD" property="dealYmd"/>
        <result column="OBJ_AMT" property="objAmt"/>
        <result column="BLDG_AREA" property="bldgArea"/>
        <result column="BUILD_YEAR" property="buildYear"/>
        <result column="HOUSE_TYPE" property="houseType"/>
        <result column="ADDRESS" property="address"/>
    </resultMap>

    <delete id="deleteAll">
        TRUNCATE TABLE REALESTATE_SELL
    </delete>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO REALESTATE_SELL
        (ESTATE_NO, ACC_YEAR, SGG_CD, SGG_NM, BJDONG_CD, BJDONG_NM, BONBEON, BUBEON, BLDG_NM, DEAL_YMD,
        OBJ_AMT, BLDG_AREA, BUILD_YEAR, HOUSE_TYPE)
        SELECT SEQ_SELL_NO.NEXTVAL, realEstateSell.* FROM (
        <foreach collection="list" item="r" separator="UNION ALL ">
            <![CDATA[
				    SELECT
                        #{r.accYear},
                        #{r.sggCd},
                        #{r.sggNm},
                        #{r.bjdongCd},
                        #{r.bjdongNm},
                        #{r.bonbeon},
                        #{r.bubeon},
                        #{r.bldgNm},
                        #{r.dealYmd},
                        #{r.objAmt},
                        #{r.bldgArea},
                        #{r.buildYear},
                        #{r.houseType}
                    FROM dual
                ]]>
        </foreach>
        ) realEstateSell
    </insert>

    <select id="selectLatestDealYmd" resultType="String">
        SELECT DEAL_YMD
        FROM (SELECT * FROM REALESTATE_SELL ORDER BY DEAL_YMD DESC)
        WHERE ROWNUM = 1
    </select>


    <!-- 메인페이지 지도 - 부동산 매매 리스트 -->
    <select id="getSellList" resultMap="realEstateSellResultSet">
        SELECT SGG_NM || ' ' || BJDONG_NM || ' ' || BONBEON || '-' || BUBEON as ADDRESS,
               OBJ_AMT,
               BLDG_NM
        FROM REALESTATE_SELL
        ORDER BY BJDONG_NM
    </select>

    <!-- 부동산 상세페이지 -->
    <select id="selectEstateDetail" resultMap="realEstateDtoResultSet">
        SELECT ESTATE_NO,
               ACC_YEAR,
               SGG_NM || ' ' || BJDONG_NM || ' ' || BONBEON || '-' || BUBEON AS ADDRESS,
               BLDG_NM,
               DEAL_YMD as dealYmd,
               OBJ_AMT,
               BLDG_AREA,
               GBN
        FROM REALESTATE_SELL
        WHERE ESTATE_NO = #{estateNo}
        UNION ALL
        SELECT ESTATE_NO,
               ACC_YEAR,
               SGG_NM || ' ' || BJDONG_NM || ' ' || BOBN || '-' || BUBN AS ADDRESS,
               BLDG_NM,
               DEAL_YMD as dealYmd,
               '보증금 : ' || RENT_GTN || '(만원) / 월세 :' || RENT_FEE AS OBJ_AMT,
               RENT_AREA                                            AS BLDGAREA,
               RENT_GBN                                             AS GBN
        FROM REALESTATE_RENT
        WHERE ESTATE_NO = #{estateNo}
    </select>

    <select id="selectPastList" resultMap="realEstateDtoResultSet">
        SELECT
            ESTATE_NO,
            BLDG_NM,
            DEAL_YMD,
            OBJ_AMT,
            GBN
        FROM REALESTATE_SELL
        WHERE BLDG_NM = #{bldgNm}
            UNION ALL
        SELECT
            ESTATE_NO,
            BLDG_NM,
            DEAL_YMD,
            RENT_FEE AS OBJ_AMT,
            RENT_GBN AS GBN
        FROM REALESTATE_RENT
        WHERE BLDG_NM = #{bldgNm}
        ORDER BY DEAL_YMD DESC
    </select>


</mapper>