<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rentMapper">

    <resultMap type="RealEstateRent" id="realEstateRentResultSet">
        <result column="ACC_YEAR" property="accYear"/>
        <result column="SGG_CD" property="sggCd"/>
        <result column="SGG_NM" property="sggNm"/>
        <result column="BJDONG_CD" property="bjdCd"/>
        <result column="BJDONG_NM" property="bjdName"/>
        <result column="BOBN" property="boBn"/>
        <result column="BUBN" property="buBn"/>
        <result column="DEAL_YMD" property="dealYmd"/>
        <result column="RENT_GBN" property="rentGbn"/>
        <result column="RENT_AREA" property="rentArea"/>
        <result column="RENT_GTN" property="rentGtn"/>
        <result column="RENT_FEE" property="rentFee"/>
        <result column="BLDG_NM" property="buildName"/>
        <result column="HOUSE_GBN_NM" property="houseType"/>
    </resultMap>

    <resultMap id="realEstateRentListResultSet" type="RealEstateRent">
        <result column="SGG_NM" property="sggNm"/>
        <result column="BLDG_NM" property="buildName"/>
        <result column="RENT_GBN" property="rentGbn"/>
        <result column="RENT_GTN" property="rentGtn"/>
        <result column="RENT_AREA" property="rentArea"/>
    </resultMap>

    <delete id="deleteAll">
        TRUNCATE TABLE REALESTATE_RENT
    </delete>

    <insert id="packageInsert" parameterType="list">
        INSERT INTO REALESTATE_RENT
        (RENT_NO, ACC_YEAR, SGG_CD, SGG_NM, BJDONG_CD, BJDONG_NM, BOBN, BUBN, DEAL_YMD, RENT_GBN,
        RENT_AREA, RENT_GTN, RENT_FEE, BLDG_NM, HOUSE_GBN_NM)
        SELECT  SEQ_RENT_NO.NEXTVAL, rentHouse.* FROM (
        <foreach collection="list" item="rH" separator="UNION ALL ">
            <![CDATA[
				    SELECT
                        #{rH.accYear},
                        #{rH.sggCd},
                        #{rH.sggNm},
                        #{rH.bjdCd},
                        #{rH.bjdName},
                        #{rH.boBn},
                        #{rH.buBn},
                        #{rH.dealYmd},
                        #{rH.rentGbn},
                        #{rH.rentArea},
                        #{rH.rentGtn},
                        #{rH.rentFee},
                        #{rH.buildName},
                        #{rH.houseType}
                    FROM dual
                ]]>
        </foreach>
        ) rentHouse
    </insert>

    <select id="selectListCount" resultType="int">
        SELECT COUNT(*)
        FROM REALESTATE_RENT
    </select>

    <select id="selectList" resultMap="realEstateRentListResultSet">
        SELECT
            SGG_NM,
            BLDG_NM,
            RENT_GBN,
            RENT_GTN,
            RENT_AREA
        FROM REALESTATE_RENT
        ORDER BY SGG_NM
    </select>

    <select id="selectListCategory" resultMap="realEstateRentListResultSet">
        SELECT
            SGG_NM AS ITEMS
        FROM REALESTATE_RENT
        ORDER BY SGG_NM
    </select>

</mapper>