<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="realEstateMapper">

    <resultMap type="realEstate" id="realEstateSellResultSet">
        <result column="ACC_YEAR" property="accYear" />
        <result column="SGG_CD" property="sggCd" />
        <result column="SGG_NM" property="sggNM" />
        <result column="BJDONG_CD" property="bjdongCd" />
        <result column="BJDONG_NM" property="bjdongNm" />
        <result column="BONBEON" property="bonbeon" />
        <result column="BUBEON" property="bubeon" />
        <result column="BLDG_NM" property="bldgNm" />
        <result column="DEAL_NM" property="dealNm" />
        <result column="DEAL_YMD" property="dealYmd" />
        <result column="OBJ_AMT" property="objAmt" />
        <result column="BLDG_AREA" property="bldgArea" />
        <result column="BUILD_YEAR" property="buildYear" />
        <result column="HOUSE_TYPE" property="houseType" />
    </resultMap>

    <delete id="deleteAll">
        TRUNCATE TABLE REALEATATE_SELL
    </delete>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO REALEATATE_SELL
        (SELL_NO, ACC_YEAR, SGG_CD, SGG_NM, BJDONG_CD, BJDONG_NM, BONBEON, BUBEON, BLDG_NM, DEAL_YMD,
        OBJ_AMT, BLDG_AREA, BUILD_YEAR, HOUSE_TYPE)
        SELECT SEQ_SELL_NO.NEXTVAL, realEstateSell.* FROM (
        <foreach collection="list" item="r" separator="UNION ALL ">
            <![CDATA[
				    SELECT
                        #{r.accYear},
                        #{r.sggCd},
                        #{r.sggNm},
                        #{r.bjdongCd},
                        #{r.bjdongNm},
                        #{r.bonbeon},
                        #{r.bubeon},
                        #{r.bldgNm},
                        #{r.dealYmd},
                        #{r.objAmt},
                        #{r.bldgArea},
                        #{r.buildYear},
                        #{r.houseType}
                    FROM dual
                ]]>
        </foreach>
        ) realEstateSell
    </insert>





</mapper>