<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rentMapper">

    <!--검색시 데이터 체크해서 없는데이터 넣기 위해
           ignore로 중복시 무시하도록 처리한다.
    -->
    <insert id="insertInfo">

    </insert>


    <select id="houseList" resultType="com.project.common.dto.RentHouseDto">
        select *
        from REALESTATE_RENT
    </select>
</mapper>