<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">
    <!-- 부동산중개 예약 -->
    <insert id="reservationEnroll">
        INSERT INTO REAL_RESERVATION(REV_NO, MEMBER_NO, MEMBER_NAME, REV_PEOPLE, PHONE, EMAIL, REV_ASK, REV_TIME, REV_DATE,ESTATE_NO)
        VALUES (SEQ_ESTATE_REV_NO.nextval,#{memberNo},#{memberName},#{peopleCount},#{phone},#{email},#{requestText},#{revTime},#{revDate},#{agentNo})
    </insert>

    <select id="memberNoOfEstate" parameterType="string">
        SELECT
            MEMBER_NO
        FROM REALESTATE_AGENT
        WHERE AGENT_NO = #{agentNo}
    </select>

    <select id="memberNoOfReservation" resultType="string">
        SELECT
            MEMBER_NAME
        FROM MEMBER
        WHERE MEMBER_NO = #{memberNo}
    </select>
</mapper>