<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="resHashtagMapper">
    <resultMap id="resHashtagResultSet" type="resHashtag">
        <result column="RES_NO" property="resNo"/>
        <result column="HASHTAG_ID" property="hashtagId"/>
        <result column="REV_NO" property="revNo"/>
        <result column="MEMBER_NO" property="memberNo"/>
    </resultMap>
    <resultMap id="resHashtagDtoResultSet" type="com.project.restaurant.dto.ResHashtagDto">
        <result column="RES_NO" property="resNo"/>
        <result column="HASHTAG_ID" property="hashtagId"/>
        <result column="REV_NO" property="revNo"/>
        <result column="HASHTAG" property="hashtag"/>
    </resultMap>

    <insert id="insert" parameterType="resHashtag">
        INSERT INTO RES_HASHTAG(RES_NO, HASHTAG_ID, REV_NO, MEMBER_NO)
        VALUES (#{resNo}, #{hashtagId}, #{revNo}, #{memberNo})
    </insert>

    <select id="selectListByResNo" parameterType="String" resultMap="resHashtagDtoResultSet">
        SELECT *
        FROM RES_HASHTAG R
            INNER JOIN HASHTAG H ON R.HASHTAG_ID = H.HASHTAG_ID
        WHERE R.RES_NO = #{resNo}
    </select>

    <select id="selectListByRevNo" parameterType="_int" resultMap="resHashtagDtoResultSet">
        SELECT *
        FROM RES_HASHTAG R
                 INNER JOIN HASHTAG H ON R.HASHTAG_ID = H.HASHTAG_ID
        WHERE R.REV_NO = #{revNo}
    </select>

    <select id="resHashtagByReview" parameterType="String" resultType="String">
        SELECT HASHTAG
        FROM (SELECT HASHTAG, COUNT(*) AS "COUNT"
              FROM (SELECT H.HASHTAG
                    FROM RES_HASHTAG RH
                             INNER JOIN HASHTAG H on RH.HASHTAG_ID = H.HASHTAG_ID
                    WHERE RES_NO = #{resNo} AND RH.HASHTAG_ID NOT IN (SELECT HASHTAG_ID
                                                                    FROM RES_HASHTAG
                                                                    WHERE RES_HASHTAG.REV_NO is null
                                                                      AND RES_HASHTAG.RES_NO = #{resNo}))
              GROUP BY HASHTAG
              ORDER BY COUNT DESC)
        WHERE ROWNUM &lt;= 2
    </select>

    <!-- 관리자 - 맛집 삭제 -->
    <delete id="deleteResHash" parameterType="string">
        DELETE FROM RES_HASHTAG WHERE RES_NO = #{resNo}
    </delete>

    <delete id="deleteResHashOnlyAdmin" parameterType="string">
        DELETE FROM RES_HASHTAG WHERE RES_NO = #{resNo} AND REV_NO is null
    </delete>

    <delete id="deleteByRevNo" parameterType="_int">
        DELETE FROM RES_HASHTAG WHERE REV_NO = #{revNo}
    </delete>



</mapper>