<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="resMapper">

    <resultMap id="restaurantResultSet" type="restaurant">
        <result column="RES_NO" property="resNo"/>
        <result column="RES_NAME" property="resName"/>
        <result column="STATE" property="state"/>
        <result column="ADDRESS" property="address"/>
        <result column="RES_PHONE" property="resPhone"/>
        <result column="WEBSITE" property="website"/>
        <result column="RES_TIME" property="resTime"/>
        <result column="TRANSPORT" property="transport"/>
        <result column="RES_FOOD" property="resFood"/>
        <result column="RES_IMGURL" property="resImgUrl"/>
    </resultMap>

    <resultMap id="reviewResultSet" type="review">
        <result column="REV_NO" property="revNo"/>
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="RES_NO" property="resNo"/>
        <result column="STAR_RATING" property="starRating"/>
        <result column="REVIEW_CONTENT" property="reviewContent"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="STATUS" property="status"/>
    </resultMap>

    <resultMap id="RES_IMG" type="resImg">
        <result column="IMG_NO" property="imgNo"/>
        <result column="REVIEW_NO" property="reviewNo"/>
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="RES_NO" property="resNo"/>
        <result column="IMAGE_LEVEL" property="imageLevel"/>
        <result column="ORIGIN_NAME" property="originName"/>
        <result column="CHANGE_NAME" property="changeName"/>
    </resultMap>


    <select id="selectListCount" resultType="int">
        SELECT COUNT(*)
        FROM RESTAURANT res
        WHERE TRIM(res.STATE) like '%' || #{state} || '%'
        <choose>
            <when test="hashtags.size != 0">
                AND res.RES_NO IN (SELECT res_tag.RES_NO
                FROM RES_HASHTAG res_tag
                INNER JOIN HASHTAG h ON res_tag.HASHTAG_ID = h.HASHTAG_ID
                WHERE h.HASHTAG IN
                <foreach collection="hashtags" item="hashtag" separator="," open="(" close=")">
                    #{hashtag}
                </foreach>
                )
            </when>
        </choose>
    </select>

    <select id="selectResList" resultMap="restaurantResultSet">
        SELECT *
        FROM RESTAURANT res
        WHERE TRIM(res.STATE) like '%' || #{state} || '%'
        <choose>
            <when test="hashtags.size != 0">
                AND res.RES_NO IN (SELECT res_tag.RES_NO
                FROM RES_HASHTAG res_tag
                INNER JOIN HASHTAG h ON res_tag.HASHTAG_ID = h.HASHTAG_ID
                WHERE h.HASHTAG IN
                <foreach collection="hashtags" item="hashtag" separator="," open="(" close=")">
                    #{hashtag}
                </foreach>
                )
            </when>
        </choose>
    </select>

    <select id="selectStateList" resultType="String">
        SELECT DISTINCT TRIM(RESTAURANT.STATE)
        FROM RESTAURANT
    </select>

    <update id="updateImage" parameterType="Map">
        UPDATE RESTAURANT SET RESTAURANT.RES_IMGURL = #{RES_IMGURL} WHERE RESTAURANT.RES_NO = #{RES_NO}
    </update>

    <select id="selectDetail" resultMap="restaurantResultSet">
        SELECT *
        FROM RESTAURANT
        WHERE RES_NO = #{resNo}
    </select>


    <select id="selectReviewList" parameterType="int" resultMap="reviewResultSet">
        SELECT
            REV_NO,
            RES_NO,
            STAR_RATING,
            REVIEW_CONTENT,
            R.MEMBER_NO,
            R.CREATE_DATE,
            R.STATUS,
            M.MEMBER_NAME
        FROM REVIEW R
                 JOIN MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
        WHERE RES_NO = #{resNo}
          AND R.STATUS = 'Y'
    </select>

<!--    <insert id="insertReview" parameterType="review">-->
<!--        INSERT INTO REVIEW(REV_NO, MEMBER_NO, RES_NO, REPLY_WRITER, CREATE_DATE, STATUS)-->
<!--        VALUES (SEQ_REV_NO.NEXTVAL, #{replyContent}, #{refBno}, #{replyWriter}, SYSDATE , DEFAULT)-->
<!--    </insert>-->


<!--    <insert id="insertReview" parameterType="review" useGeneratedKeys="true">-->

<!--        <selectKey keyProperty="resNo" resultType="_int" order="BEFORE">-->
<!--            SELECT SEQ_REV_NO.NEXTVAL FROM DUAL-->
<!--        </selectKey>-->

<!--        INSERT INTO REVEIW(BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, ORIGIN_NAME, CHANGE_NAME, BOARD_CD)-->
<!--        VALUES (#{boardNo}, #{boardTitle}, #{boardContent}, #{boardWriter}, #{originName}, #{changeName}, #{boardCd})-->
<!--    </insert>-->

<!--    <insert id="insertBoardImgList" parameterType="list">-->
<!--        INSERT INTO RES_IMG-->
<!--        SELECT SEQ_IMG_NO.NEXTVAL AS IMG_NO , C.* FROM-->
<!--        (-->
<!--        <foreach collection="list" item="img" separator="UNION ALL">-->
<!--            SELECT #{img.originName} as ORIGIN_NAME,-->
<!--            #{img.changeName} as CHANGE_NAME,-->
<!--            #{img.refBno} as REF_BNO,-->
<!--            #{img.imgLevel} as IMG_LEVEL-->
<!--            FROM DUAL-->
<!--        </foreach>-->
<!--        ) C-->
<!--    </insert>-->









</mapper>
