<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="resMapper">

    <resultMap id="restaurantResultSet" type="restaurant">
        <result column="RES_NO" property="resNo"/>
        <result column="RES_NAME" property="resName"/>
        <result column="STATE" property="state"/>
        <result column="ADDRESS" property="address"/>
        <result column="RES_PHONE" property="resPhone"/>
        <result column="WEBSITE" property="website"/>
        <result column="RES_TIME" property="resTime"/>
        <result column="TRANSPORT" property="transport"/>
        <result column="RES_FOOD" property="resFood"/>
        <result column="RES_IMGURL" property="resImgUrl"/>
    </resultMap>

    <resultMap id="reviewResultSet" type="review">
        <result column="REV_NO" property="revNo"/>
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="RES_NO" property="resNo"/>
        <result column="STAR_RATING" property="starRating"/>
        <result column="REVIEW_CONTENT" property="reviewContent"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="STATUS" property="status"/>
    </resultMap>

    <resultMap id="resImgResultSet" type="resImg">
        <result column="IMG_NO" property="imgNo"/>
        <result column="REVIEW_NO" property="reviewNo"/>
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="RES_NO" property="resNo"/>
        <result column="IMAGE_LEVEL" property="imageLevel"/>
        <result column="ORIGIN_NAME" property="originName"/>
        <result column="CHANGE_NAME" property="changeName"/>
    </resultMap>


    <select id="selectListCount" resultType="int">
        SELECT COUNT(*)
        FROM RESTAURANT res
        WHERE TRIM(res.STATE) like '%' || #{state} || '%'
        <choose>
            <when test="hashtags.size != 0">
                AND res.RES_NO IN (SELECT res_tag.RES_NO
                FROM RES_HASHTAG res_tag
                INNER JOIN HASHTAG h ON res_tag.HASHTAG_ID = h.HASHTAG_ID
                WHERE h.HASHTAG IN
                <foreach collection="hashtags" item="hashtag" separator="," open="(" close=")">
                    #{hashtag}
                </foreach>
                )
            </when>
        </choose>
    </select>

    <select id="selectResList" resultMap="restaurantResultSet">
        SELECT *
        FROM RESTAURANT res
        WHERE TRIM(res.STATE) like '%' || #{state} || '%'
        <choose>
            <when test="hashtags.size != 0">
                AND res.RES_NO IN (SELECT res_tag.RES_NO
                FROM RES_HASHTAG res_tag
                INNER JOIN HASHTAG h ON res_tag.HASHTAG_ID = h.HASHTAG_ID
                WHERE h.HASHTAG IN
                <foreach collection="hashtags" item="hashtag" separator="," open="(" close=")">
                    #{hashtag}
                </foreach>
                )
            </when>
        </choose>
    </select>

    <select id="selectStateList" resultType="String">
        SELECT DISTINCT TRIM(RESTAURANT.STATE)
        FROM RESTAURANT
    </select>

    <update id="updateImage" parameterType="Map">
        UPDATE RESTAURANT SET RESTAURANT.RES_IMGURL = #{RES_IMGURL} WHERE RESTAURANT.RES_NO = #{RES_NO}
    </update>

    <select id="selectDetail" resultMap="restaurantResultSet">
        SELECT *
        FROM RESTAURANT
        WHERE RES_NO = #{resNo}
    </select>

    <insert id="resInsert" parameterType="restaurant">
        <selectKey keyProperty="resNo" resultType="string" order="BEFORE">
            select SEQ_RES_NO.nextval FROM DUAL
        </selectKey>
        INSERT INTO RESTAURANT(RES_NO, RES_NAME, STATE, ADDRESS, RES_PHONE,RES_FOOD, RES_IMGURL)
        VALUES(#{resNo},#{resName},#{state},#{address},#{resPhone},#{resFood},#{resImgUrl})
    </insert>



    <insert id="resInsertImg" parameterType="resImg">
        INSERT INTO RES_IMG(IMG_NO, RES_NO , ORIGIN_NAME, CHANGE_NAME)
        VALUES(SEQ_IMG_NO.NEXTVAL,#{resNo},#{originName},#{changeName})
    </insert>




    <select id="selectReviewList" parameterType="int" resultMap="reviewResultSet">
        SELECT
            REV_NO,
            RES_NO,
            STAR_RATING,
            REVIEW_CONTENT,
            R.MEMBER_NO,
            R.CREATE_DATE,
            R.STATUS,
            M.MEMBER_NAME
        FROM REVIEW R
                 JOIN MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
        WHERE RES_NO = #{resNo}
          AND R.STATUS = 'Y'
    </select>


    <select id="selectImgList" resultMap="resImgResultSet">
        SELECT *
        FROM RES_IMG
        WHERE RES_NO = #{resNo}
        ORDER BY IMAGE_LEVEL
    </select>


    <insert id="insertReview" parameterType="review">
        <selectKey keyProperty="revNo" resultType="_int" order="BEFORE">
            select SEQ_REV_NO.nextval FROM DUAL
        </selectKey>
        INSERT INTO REVIEW (REV_NO, MEMBER_NO, RES_NO, STAR_RATING, REVIEW_CONTENT, CREATE_DATE, STATUS)
        VALUES (${revNo}, #{memberNo}, #{resNo}, #{starRating}, #{reviewContent}, #{createDate}, #{status})
    </insert>

    <insert id="insertResImgList" parameterType="list">
        INSERT INTO RES_IMG
        SELECT SEQ_IMG_NO.NEXTVAL AS IMG_NO , R.* FROM
        (
        <foreach collection="list" item="img" separator="UNION ALL">
            SELECT #{img.originName} as ORIGIN_NAME,
            #{img.changeName} as CHANGE_NAME,
            #{img.revNo} as REV_NO,
            #{img.imgLevel} as IMG_LEVEL
            FROM DUAL
        </foreach>
        ) R
    </insert>











</mapper>
