<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.project.member.vo.Member" alias="member"/>
        <typeAlias type="com.project.realestate.vo.RealEstateSell" alias="realEstateSell"/>
        <typeAlias type="com.project.realestate.vo.RealEstateRent" alias="realEstateRent"/>
        <typeAlias type="com.project.restaurant.vo.Restaurant" alias="restaurant"/>
        <typeAlias type="com.project.restaurant.vo.Hashtag" alias="hashtag"/>
        <typeAlias type="com.project.restaurant.vo.ResHashtag" alias="resHashtag"/>
        <typeAlias type="com.project.restaurant.vo.Review" alias="review"/>
        <typeAlias type="com.project.restaurant.vo.ResImg" alias="resImg"/>
        <typeAlias type="com.project.board.freeBoard.vo.FreeBoard" alias="FBoard"/>
        <typeAlias type="com.project.board.qnaBoard.vo.QnaBoard" alias="QBoard"/>
        <typeAlias type="com.project.board.qnaBoard.vo.BoardType" alias="boardType"/>
        <typeAlias type="com.project.chat.dto.ChatRoom" alias="chatRoom"/>
    </typeAliases>

    <mappers>
        <mapper resource="/mappers/member-mapper.xml"/>
        <mapper resource="/mappers/realestateSell-mapper.xml"/>
        <mapper resource="/mappers/realestateRent-mapper.xml"/>
        <mapper resource="/mappers/restaurant-mapper.xml"/>
        <mapper resource="/mappers/hashtag-mapper.xml"/>
        <mapper resource="/mappers/resHashtag-mapper.xml"/>
        <mapper resource="/mappers/board-mapper.xml"/>
        <mapper resource="/mappers/chat-mapper.xml"/>
    </mappers>

</configuration>