* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

a{
    text-decoration: none;
}

#header{
    position: fixed;
    z-index: 999;
    background: linear-gradient(99deg, rgb(217, 203, 234), rgb(86, 99, 146));
    width: 100%;
}

.inner{
    display: flex;
    background-color: white;
    width: 100%;
    height: 60px;
    background: linear-gradient(99deg, rgb(217, 203, 234), rgb(86, 99, 146));
}

.logo > img{
    height: 60px;
    width: 90px;
    cursor: pointer;
    margin: 0 20px 0 100px;
}

.logo{
    width: auto;
}

.navbar{
    width: auto;
    padding: 5px 0 0 110px;
    height: 60px;

}

.navbar a{
    color: #213048;
}

.navbar_menu {
    display: flex;
    padding-left: 0;
}

.dropdown {
    display: inline-block;
}

.dropdown-btn {
    width: 210px;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background:none;
    font-weight: bold;
}

.dropdown-submenu {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    background:none;
}

.dropdown-submenu a {
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.dropdown-btn a:hover {
    color: #eeeeee;
    text-decoration: none;
}

.dropdown:hover .dropdown-submenu {
    display: block;
}

.login{
    width: auto;
    text-align: center;
    background:none;
}

.login_before{
    width: 100%;
    height: 100%;
    padding: 11px 0 0 220px;
}

.login_before > a{
    text-decoration: none;
    font-size: 15px;
    color: #213048;
    font-weight: 700;
    line-height: 40px;
}

.login_before > a:hover{
    color: #eeeeee;
}

.login_after > a:hover{
    color: #eeeeee;
}

.login_after{
    padding-left:130px;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 10px;
}

.user_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 7px;
}

.after{
    text-decoration: none;
    font-size: 14px;
    color: #213048;
    font-weight: 700;
    margin-right: 10px;
    height: 20px;
    margin-top: 10px;
}

.fa-bell{
    font-size: 20px;
    margin-left: 15px;
    padding-top: 10px;
    cursor: pointer;
}

.fa-bell:hover{
    color: #eeeeee;
}

/***********실시간 알림**************/
.alert_box{
    display:none;
    background: white;
    position:fixed;
    right: 20px;
    top: 65px;
    width: 320px;
    height: 250px;
    border-radius:3px;
    box-shadow: 0px 0px 7px 1px #666;
    z-index: 999;
}

.alert_box_header{
    display: flex;
    padding: 5px;
    height: 35px;
}

.alert_box_header :first-child{
    font-size: 15px;
    padding: 0 5px 0 10px;
    font-weight: bold;
}

.alert_box_header :nth-child(2){
    font-size: 12px;
    color: #566392;
    padding: 3px 20px 0 120px;
    cursor: pointer;
}

.fa-x{
    cursor: pointer;
}

.alert_list {
    overflow-y:scroll;
    height: 215px;
    text-align: left;
}

.new_alert {
    font-size: 15px;
    font-weight: 500;
    background: #f8f8f8;
    border-bottom: 1px solid #E0E0E0;
    height: 58px;
    padding-top: 7px;
}

.alert_list :hover{
    background: #f0f0fa;
    cursor: pointer;
}

.new_alert > div {
    display: flex;
}

.fa-circle-dot {
    color: #989de1;
    font-size: 10px;
    margin:0 10px 0 10px;
}

.alert_content{
    width: 92%;
}

.fa-trash-can{
    font-size: 16px;
    cursor: pointer;
    padding-top: 5px;
}

.alert_date{
    font-size: 11px;
    margin-left: 30px;
    color: #515151;
    font-weight: 500;
}


