* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

a{
    text-decoration: none;
}

#header{
    position: absolute;
    z-index: 999;
}

.inner{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100px;
}

.logo > img{
    height: 100px;
    width: 160px;
    cursor: pointer;
    margin: 5px 20px 5px 100px;
}

.logo{
    width: auto;
}

.navbar{
    width: auto;
    padding: 25px 0 0 80px;
    height: 100px;
}

.navbar a{
    color: #213048;
}

.navbar_menu {
    display: flex;
    padding-left: 0;
}

.dropdown {
    display: inline-block;
}

.dropdown-btn {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}

.dropdown-submenu {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

.dropdown-submenu a {
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.dropdown-btn a:hover {
    color: #989de1;
    text-decoration: none;
    font-size: 22px;
}

.dropdown-submenu a:hover {
    color: #989de1;
    text-decoration: none;
    font-size: 18px;
}

.dropdown:hover .dropdown-submenu {
    display: block;
}

.login{
    width: auto;
    text-align: center;
    background-color: white;
}

.login_before{
    width: 100%;
    height: 100%;
    padding: 30px 0 0 160px;
}

.login_before > a{
    text-decoration: none;
    font-size: 15px;
    color: #213048;
    font-weight: 700;
    line-height: 40px;
}

.login_before > a:hover{
    color: #989de1;
}

.login_after > a:hover{
    color: #989de1;
}

.login_after{
    padding-left:70px;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 25px;
}

.user_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.after{
    text-decoration: none;
    font-size: 14px;
    color: #213048;
    font-weight: 700;
    margin-right: 10px;
    height: 20px;
    margin-top: 15px;
}

.fa-bell{
    font-size: 25px;
    margin-left: 20px;
    padding-top: 13px;
    cursor: pointer;
}

.fa-bell:hover {
    color: #989de1;
    font-size: 27px;
}

.map{
    position: fixed;
    height: 100%;
    width: 100%;
    margin-top: 100px;
}
.news{
    position: absolute;
    left: 30px;
    top: 120px;
    width: 280px;
    height: 310px;
    display: table;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    z-index: 100;
}

.news > span{
    font-size: 20px;
    font-weight: bolder;
    color: #566392;
}

.news_list > a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 450;
    line-height: 1.2;
    color: #213048;
    display: block;
}

.news > span > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #566392;
    border-top : #566392 2px solid;
    display: block;
    padding-top: 5px;
}

.lookList{
    position: absolute;
    left: 30px;
    top: 490px;
    width: 250px;
    height: 280px;
    display: table;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    z-index: 100;
}

.side{
    position: fixed;
    overflow: auto;
}

.map h3{
    color:#213048;
}
#map{
    width: 100%;
    height: 1200px;
    padding-top: 10px;
}


/***********실시간 알림**************/
.alert_box{
    display:none;
    background: white;
    position:fixed;
    right: 30px;
    top: 110px;
    width: 300px;
    height: 250px;
    border-radius:5px;
    box-shadow: 0px 0px 7px 1px #666;
    z-index: 999;
}

.alert_box_header{
    display: flex;
}

.alert_box_header :first-child{
    font-size: 20px;
}
