* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

a{
    text-decoration: none;
}

main{
    padding-top: 110px;
    position: absolute;
    width: 100%;
    height: 100%;
}

#header.on { position: fixed;  }
#header.on .inner { height: 80px; transition: 0.3s;}
#header.on .inner .logo > img { height: 75px; width: 120px; transition: 0.3s;}
#header.on .inner .dropdown-btn{ height: 40px; font-size: 17px;}
#header.on .inner .dropdown-submenu{height: 55px;}
#header.on .inner .dropdown-submenu a {font-size: 13px;}
#header.on .navbar {padding-top: 20px; transition: 0.3s;}
#header.on .login {margin: 20px 110px 0 50px; transition: 0.3s;}
#header.on .login a{font-size: 12px;}



#header{
    position: absolute;
    z-index: 999;
}

.inner{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100px;
}

.logo > img{
    height: 100px;
    width: 160px;
    cursor: pointer;
    margin: 5px 20px 5px 100px;
}

.logo{
    width: auto;
}

.navbar{
    width: auto;
    padding: 35px 0 0 120px;
    height: 100px;
}

.navbar a{
    color: #213048;
}

.navbar_menu {
    display: flex;
    padding-left: 0;
}

.dropdown {
    display: inline-block;
}

.dropdown-btn {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}

.dropdown-submenu {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

.dropdown-submenu a {
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.dropdown-btn a:hover {
    color: #989de1;
    text-decoration: none;
}

.dropdown-submenu a:hover {
    color: #989de1;
    text-decoration: none;
}

.dropdown:hover .dropdown-submenu {
    display: block;
}

.login{
    width: auto;
    text-align: center;
    background-color: white;
}

.login_before{
    width: 100%;
    height: 100%;
    padding: 40px 0 0 160px;
}

.login_before , .login_after > a{
    text-decoration: none;
    font-size: 15px;
    color: #213048;
    font-weight: 700;
    line-height: 40px;
}

.login_after{
    padding: 30px 0 0 30px;
    width: 100%;
    height: 100%;
}

.login_after > a {
    display: block;
}

.user_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.map{
    position: relative;
}


.news{
    position: absolute;
    left: 30px;
    top: 150px;
    width: 250px;
    height: 300px;
    display: table;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
}

.lookList{
    position: absolute;
    left: 30px;
    top: 480px;
    width: 250px;
    height: 300px;
    display: table;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
}

.side{
    position: fixed;
    overflow: auto;
}

.map h3{
    color:#213048;
}
#map{
    width: 80%;
    height: 600px;
    float: right;
    padding-top: 10px;
}

/***************   채팅   *****************/