.body{
    box-sizing: border-box;
    height: 1450px;
    width: 100%;
}


#content{
    margin:auto;
    box-sizing: border-box;
    width: 70%;
    padding: 20px;
}
#contentHead{
    height: 120px;
}
.resDiv{
    margin-left: 100px;
    margin-bottom: 30px;
}
.placeHashtag{
    margin:auto;
    width:43%;
}
#formFileSm{
    width: 500px;
    position: relative;
    left: 175px;
}
input[type=file]::file-selector-button {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    cursor: pointer;
}
#preview{
    box-sizing: border-box;
    border: 3px #989de1;
    width: 900px;
    height: 400px;
    border-radius: 20px;
}
.resImg{
    margin: auto;
    width: 49%;
}

.btn_box{
    margin: auto;
    width: 33%;
}
.btn{
    margin: 5px;
    width: auto;
    border-radius: 15px
}
.bbtn{
     border: 1px solid #f3f1f5;
     width: 300px;
     height: 55px;
     text-align: center;
     border-radius: 10px;
     color: #f3f1f5;
     background-color: #213048;
     font-weight: bold;
    font-size: 18px;
 }
.bbtn:hover{
    border: 1px solid #f3f1f5;
    width: 300px;
    height: 55px;
    text-align: center;
    border-radius: 10px;
    color: #213048;
    background-color: #f3f1f5;
    font-weight: bold;
    font-size: 18px;
}
.font{
    font-weight: bold;
    font-size: 22px;
    color : #3d3d3d;
}
.textInput{
    width: 350px;
    height: 36px;
    border-radius:  4px;
    border: 1px solid #beb0d0;
}
#space ,#space2{
    position: relative;
    right: -38px;
}