ody {
    color: #666;
    font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;

    width: 70%;
}

th,
td {
    padding: 6px 15px;
}

th {
    background: #42444e;
    color: #fff;
    text-align: left;
}

tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
}

td:first-child {
    border-left: 1px solid #c6c9cc;
}

tr:nth-child(even) td {
    background: #eaeaed;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

#headeer {
    box-sizing: border-box;
    height: 150px;
}

#button2 {
    margin: auto;
    width: 32%;
}

.b1 {
    height: 65px;
    width: 150px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
}

.b2 {
    height: 65px;
    width: 150px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;

}

.b3 {
    height: 65px;
    width: 150px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;

}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 500px;
    height: 200px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

.m_head {
    height: 33%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #738adc;
    color: #f3f1f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.m_body {
    height: 80%;
    padding: 20px;
    display: inline-block;
    margin-top: 13px;
}

.modal_title {
    font-size: 22px;
    font-weight: 500;
    margin: auto;
    font-weight: bold;
}

.modal_label {
    padding-top: 10px;
}

.input_box {
    width: 100%;
    border: 1px solid rgb(189, 189, 189);
    height: 30px;
}

.modal_btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    padding-top: 5px;
    margin-left: 5px;
    font-family: sans-serif;
}

.cancle {
    background-color: white;
    color: black;
}

.btn {
    width: 225px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid white;
    font-weight: bold;
    font-size: 15px;

}

#close_btn {
    font-weight: bold;
    color: black;
    cursor: pointer;
}

#close_btn:hover {
    color: red;
}

.btn:hover {
    background-color: #566392;
    color: #f3f1f5;
}

#btnOn {
    background: #585c9c;
    font-weight: bold;
    color: white;
    border: 1px solid #585c9c;
    border-radius: 5px;
    width: 72px;
    height: 30px;
}

.btn22 {
    background: #585c9c;
    font-weight: bold;
    color: white;
    border: 1px solid #585c9c;
    border-radius: 5px;
    width: 72px;
    height: 30px;
}

#btnOn:hover {
    background: white;
    font-weight: bold;
    color: #585c9c;
    border: 1px solid #585c9c;
    border-radius: 5px;
    width: 72px;
    height: 30px;
}
#btnOn2 {
    font-weight: bold;
    border: 1px solid #585c9c;
    border-radius: 5px;
    width: 72px;
    height: 30px;
}

.pagination> li{
    display: inline-block;
    position: relative;
    left: 690px;
    margin:0 3px;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    background-color:#fff;
    font-size:13px;
    color:#999999;
    text-decoration:none;
    font-weight: bold;
}
.pagination> li:hover{
    border: 2px solid #beb0d0;
}
#btnClose {
    background: gray;
    font-weight: bold;
    color: white;
    border: 1px solid #585c9c;
    border-radius: 5px;
    width: 72px;
    height: 30px;
}
#tableDiv{
    margin-bottom: 50px;
}

