*{
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
/* 
div{
    border: 2px solid black; 
} */

#content{
    width: 100%;
    height: 100%;
    padding: 120px 200px 5px 200px;;
}

#place_head{
    height: 40%;
    width: 100%;
    display: flex;
}

#place_body{
    height: 60%;
    width: 100%;
}

#enroll_btn > button{
    width: 200px;
}

.city{
    padding-left: 700px;
}

.hashtag{
    display: flex;
    flex-wrap: wrap;
}

.hashtag > label{
    margin: 5px;
    width: auto;
}

.city > select{
    width: 140px;
    height: 35px;
}

.place_list{
    float: left;
    display: flex;
    margin-top: 50px;
}

.info{
    width: 33.3%;
    text-align: center;
}

.info > img{
    width: 80%;
    height: 80%;
}
.info > div{
    height: 10%;
}


.info :nth-child(2){
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}
