*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#content{
    padding: 100px 270px 20px 270px;
}

#userImg{
    text-align: center;
    margin-bottom: 35px;
}

#userImg > img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.userinfo{
    display: flex;
    padding-left:240px;
    margin: 12px 0;
}

.userinfo > span{
    font-size: 20px;
    font-weight: 420;
    color: #3d3d3d;
    width: 13%;
}

.userinfo > input{
    margin-left: 20px;
    height: 34px;
    border-radius: 3px;
    border: #a4a4a4 1px solid;
}

.userinfo > button{
    background-color: #E0E0E0;
    color: #3d3d3d;
    height: 32px;
    width: auto;
    padding: 5px 11px;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    font-weight: 410;
    cursor: pointer;
    margin-left: 25px;
}

.userinfo > button:hover{
    background-color: #566392;
    color: #f3f1f5;
}

.userinfo > input:focus{
    outline: #989de1 2px solid;
}

.nickName,
.email,
.phone2,
.address2{
    margin-bottom: 40px;
}

.nickName > input,
.phone > input{
    width: 35%;
}

.email > input{
    width: 40%;
}

.phone2 > input{
    margin-left: 117px;
}

.address > input{
    width: 15%;
}

.address2 > input[required]{
    margin-left: 117px;
    width: 30%;
}

.btn_box{
    padding-left: 290px;
}

.btn_box > button[type=reset]{
    background-color: #E0E0E0;
    height: 40px;
    width: auto;
    padding: 5px 50px;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    font-weight: 410;
    cursor: pointer;
    margin: 0 25px;
}

.btn_box > button[type=reset] a{
    color: #3d3d3d;
}

.btn_box > button[type=submit]{
    background-color: #566392;
    color: #f3f1f5;
    height: 40px;
    width: auto;
    padding: 5px 50px;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    font-weight: 410;
    cursor: pointer;
    margin: 0 25px;
}