*{
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#content{
    width: 100%;
    height: 100%;
    padding: 60px 250px 5px 250px;;
}

#info_box{
    display: flex;
    height: 220px;
    margin: 50px 100px 0 100px;
    border: #beb0d0 2px solid;
    border-radius: 3px;
    padding: 10px;
}

#user_img{
    width: 20%;
    text-align: center;
}

#user_img > img{
    width: 98%;
    height: 100%;
    border-radius: 3%;
}

#userInfo{
    width: 65%;
    padding-left: 30px;
}

#userInfo span{
    font-size: 18px;
    font-weight: 450;
    width: 70px;
    display: inline-block;
    color: black;
}

#userInfo td:not(span){
    font-size: 15px;
    font-weight: 410;
    color: #3d3d3d;
}

#userInfo table{
    width: 100%;
    height: 75%;
    margin-top: 20px;
}

#btn_box{
    width: 15%;
    padding-top: 20px;
}

#btn_box > button {
    width:90%;
    height: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-weight: 420;
    font-size: 16px;
    border: none;
    background-color: rgba(227, 221, 238, 0.5);
    color: #213048;
    border-radius: 3px;
}

#btn_box > button:hover{
    color: #eeeeee;
    background-color: rgba(86, 99, 146, 0.5);
}
#btn_box > button a:hover{
    color: #eeeeee;
}

#btn_box > button a{
    text-decoration: none;
    color: #213048;
}

#like{
    margin-top: 40px;
    padding: 0 50px;
    width: 100%;
}

.like_list_top{
    font-weight: 450;
    font-size: 20px;
    color: #3d3d3d;
    width: 100%;
}

.like_list{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 930px;
    height: 200px;
    margin: 15px 0 30px 0;
    flex-basis: 250px;
    padding-top: 10px;
}

.like_list::-webkit-scrollbar{
    height: 10px;
    width: 3px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.like_list::-webkit-scrollbar-thumb{
    background-color: rgba(231, 68, 100, 0.4);
    border-radius: 10px;
    width: 30px;
}
.like_list::-webkit-scrollbar-thumb:hover{
    background-color: rgba(231, 68, 100, 0.9);
}


.like_list > #heart{
    height: auto;
    margin: 10px;
    text-align: center;
}

#heart > label,
#heart > div{
    width: 178px;
}

#heart > label > .fa-heart{
    font-size: 80px;
    cursor: pointer;
    margin-bottom: 10px;
}

#heart > input[type=checkbox]{
    display: none;
}

#heart > label > .fa-heart:hover{
    color: #E0E0E0;
}
#heart > label > .fa-heart :hover ~ label{
    color: #E0E0E0;
}

#heart > input[type=checkbox]:checked ~ label{
    color: #e74464;
}

.bldg_name{
    font-size: 16px;
    font-weight: 420;
    height: 30px;
    margin-top: 15px;
    padding: 0 5px;
    cursor: pointer;
    word-wrap: break-word;
}

#history_list{
    display: flex;
    padding: 0 50px;
    height: 350px;
    margin-top: 50px;
}

.board_history{
    width: 50%;
}

.review_history{
    width: 50%;
    padding-left: 40px;
    border-left: #a4a4a4 3px dashed;
}

.board_history > p,
.review_history > p{
    font-weight: 450;
    font-size: 17px;
    color: #3d3d3d;
}

table{
    table-layout: fixed;
}

#myBoardList{
    margin-top: 10px;
    width: 100%;
}

#myBoardList > table{
    width: 100%;
}

#myBoardList th:first-child,
#myBoardList td:first-child {
    width: 20%;
    padding: 0 7px;
}

#myBoardList th:nth-child(2){
    width: 50%;
    padding: 0 7px;
}

#myBoardList th:nth-child(3),
#myBoardList td:nth-child(3){
    width: 30%;
    padding: 0 7px;
}

#myBoardList th{
    text-align: left;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 3;
}

#myBoardList td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}

.myBoard_info{
    height: 45px;
    font-size: 15px;
    cursor: pointer;
    border-collapse: collapse
}

.myBoard_info:hover{
    color: #566392;
    font-weight: 450;
}

#myReviewList , #myBoardList{
    height: 270px;
}


#myReviewList > table{
    width: 100%;
}


#myReviewList > table tr:hover{
    color: #566392;
}

#myReviewList > table tr{
    cursor: pointer;
}

#myReviewList td:first-child{
    width: 35%;
    font-size: 16px;
    font-weight: 420;
}
#myReviewList td:nth-child(2){
    width: 40%;
    font-size: 25px;
    color: #f8d562;
}
#myReviewList td:nth-child(3){
    width: 25%;
    font-size: 14px;
    font-weight: 420;
}

.reserve_history{
    margin-top: 40px;
    padding: 0 80px;;
    width: 90%;
    height: auto;
    border: rgba(86, 99, 146, 0.3) 2px solid;
    border-radius: 2px;
    margin-left: 5%;
}

.reserve_history > p{
    font-size: 19px;
    font-weight: 410;
    color: #3d3d3d;
    text-align: center;
    margin-top: 20px;
}

.myReserve_list > table{
    width: 100%;
}

.myReserve_list{
    overflow-y: scroll;
    height: 300px;
    margin-bottom: 50px;
}

.myReserve_list::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.myReserve_list::-webkit-scrollbar-thumb{
    background-color: rgba(86, 99, 146, 0.2);
    border-radius: 10px;
    width: 30px;
}

.myReserve_list::-webkit-scrollbar-thumb:hover{
    background-color: rgba(86, 99, 146, 0.8);
}

.myReserve_info_list_top{
    background-color: #E0E0E0;
    height: 50px;
}

.myReserve_info_list{
    height: 50px;
    background-color: white;
}

.myReserve_list > table th,
.myReserve_list > table td{
    text-align: center;
}

/*추가한 속성*/
.myReserve_list{
    border:none;
}

.myReserve_list > table td:first-child,
.myReserve_list > table th:first-child{
    width: 44%;
}

.myReserve_list > table td:nth-child(n+2),
.myReserve_list > table th:nth-child(n+2){
    width: 14%;
}

.myReserve_list > table th{
    background-color: #E0E0E0;
}

.myReserve_info_list{
    cursor: pointer;
    border-bottom: rgba(164, 164, 164, 0.5) 2px solid;
}

.myReserve_info_list:hover{
    font-weight: 420;
}

/******예약확인모달*******/

.modal-content{
    width: 80%;
}

.fa-user-check{
    font-size: 22px;
    margin-right: 10px;
}

.modal-header > span{
    font-size: 20px;
    font-weight: 450;
}

.reserve_info{
    border-top: #a4a4a4 2px dashed;
    padding-top: 20px;
}

.user_info > div,
.reserve_info > div{
    display: flex;
}

.user_info > p,
.reserve_info > p{
    font-size: 22px;
    font-weight: 450;
}

.user_info > div > span,
.reserve_info > div > span{
    font-size: 19px;
    font-weight: 420;
    color: #3d3d3d;
    width: 20%;
}

.user_info > div > p,
.reserve_info > div > p{
    font-size: 17px;
    font-weight: 400;
    color: #515151;
}

.realtor_name{
    font-weight: 450;
    color: #566392;
    font-size: 22px;
    margin-bottom: 15px;
}

.modal-footer{
    padding-right: 150px;
}

.modal-footer > button{
    margin-left: 10px;
    border: none;
    width: 100%;
    height: auto;
    font-size: 16px;
    background-color: #f3f1f5;
    color: #213048;
    font-weight: 450;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
}

.modal-footer > button:hover{
    background-color: #566392;
    color: #f3f1f5;
}

/*#paging{*/
/*    margin-top: 10px;*/
/*    height: 30px;*/
/*}*/
.mypaging > li{
    display: inline-block;
    position: relative;
    left: 120px;
    margin:0 3px;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    background-color:#fff;
    font-size:13px;
    color:#999999;
    text-decoration:none;
    font-weight: bold;
}
/*.pagination> li:hover{*/
/*    border: 2px solid #beb0d0;*/
/*}*/
#reviewPaging{
    padding-bottom: 20px;
}
#allBoardsPaging{
    padding-bottom: 20px;
}



.pagination{
    /*display: inline-block;*/
    /*position: relative;*/
    justify-content : center;
}
.pagination a{
    color: gray;
}
.pagination a:hover{
    color : white;
    background-color: rgb(86, 99, 146);
    cursor: pointer;
}