<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시작페이지</title>
    <link href="startPage.css" rel="stylesheet">
</head>
<body>
    <div id="bgd"></div>
    <div id="content" class="container-max">
        <h1>맛동산</h1>
        <p>정확한 실거래가와 맛집 & 동네정보까지 한번에!</p>
        <a href="mainPage.html" id="startPage"><strong>start here</strong></a>
        <a href="login.html" id="startPage"><strong>로그인</strong></a>
</body>
</html>