* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#content{
    padding: 60px 330px 100px 330px;
}

a:link { color: black; text-decoration: none;}
a:link:hover { color: #f3f1f5; }
textarea:focus , input:focus {
    outline: #dedcf1 2px solid;
    border-radius: 2px;
}

.freeBoard_Detail{
    margin-top: 30px;
}

.detail_top{
    display: flex;
    border-top: #beb0d0 4px solid;
}

.detail_top > p{
    font-size: 23px;
    color: #beb0d0;
    font-weight: 800;
}

.board_area{
    padding-left: 670px;
    font-size: 20px;
    color: #b0a3c4;
    line-height: 1.6;
    font-weight: bold;
}

.detail_head {
    margin-top: 30px;
}

.board_title{
    display: flex;
}

.fa-q{
    font-size: 35px;
    background-color: #7f86b9;
    height: 55px;
    width: 60px;
    border-radius: 50%;
    padding: 9px 0 0 12px;
    margin-right: 15px;
    color: white;
}

.board_title > input{
    font-size: 35px;
    border: none;
    font-weight: 450;
    width: 100%;
}

.board_info{
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 10px;
}

.board_writer{
    font-size: 19px;
    font-weight: 450;
    line-height: 2.5;
}

.board_date{
    font-size: 16px;
    padding-left: 30px;
    font-weight: 450;
    line-height: 2.8;
}

.detail_body > div{
    border: none;
    width: 100%;
    height: 200px;
    font-size: 18px;
    margin-top: 25px;
    resize: none;
}

.btn_box > button{
    border: none;
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: #f3f1f5;
    color: #213048;
    font-weight: 450;
    cursor: pointer;
    border-radius: 2px;

}

.btn_box > button:hover{
    background-color: #566392;
    color: #f3f1f5;
}

.insertAnswer{
    margin-left: 73%;
    margin-right: 10px;
}

.btn1{
    margin-left: 88%;
}

/* 신고하기 */
.modal-content{
    width: 80%;
}

.fa-person-circle-exclamation{
    font-size: 22px;
    margin-right: 10px;
}

.modal-header > span{
    font-size: 20px;
    font-weight: 450;
}

.modal-body > select{
    width: 100%;
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    color: #515151;
    cursor: pointer;
}

.modal-footer > button{
    margin-left: 10px;
    border: none;
    width: auto;
    height: auto;
    font-size: 16px;
    background-color: #f3f1f5;
    color: #213048;
    font-weight: 450;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
}

.modal-footer > button:hover{
    background-color: #566392;
    color: #f3f1f5;
}

#boardContent{
    border: none;
    font-size: 24px;
    resize: none;
    height: auto;
    width: 100%;
    font-weight: 420;
    padding-bottom: 50px;
}

.answerList{
    margin-top: 50px;
    padding-top: 30px;
    border: #eeeeee 3px solid;
    border-radius: 4px;
    padding-bottom: 10px;
    box-shadow: 6px -2px 13px 0px #eeeeee;
    background: rgba(190, 176, 208, 0.13);
}

.answerLine{
    font-weight: 600;
    font-size: 19px;
    margin-left: 30px;
}

#Answer{
    position: relative;
    padding: 10px 32px 10px;
    display: flex;
}

#Answer::before{
    position: absolute;
    left: 52px;
    z-index: 1;
    content: "";
    height: 100%;
    width: 4px;
    background-color: #dee2e6;
}

.fa-a{
    position: relative;
    font-size: 20px;
    background-color: #353c65;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    padding: 9px 0 0 13px;
    margin-right: 12px;
    color: white;
    z-index: 2;
}

.answer{
    width: 80%;
    padding: 3px 10px;
}

.answerInfo > span:first-child{
    font-weight: 500;
    font-size: 14px;
    padding: 2px 3px;
    border: #d2d2d2 2px solid;
    border-radius: 3px;
    color: #3d3d3d;
    margin-right: 5px;
    background: white;
}

.answerInfo > span:nth-child(2){
    font-weight: 500;
    font-size: 19px;
    color: #3d3d3d;
    margin-right: 5px;
}

.answerContent > span{
    display: block;
}

.answerContent > span:first-child{
    font-weight: 500;
    font-size: 17px;
    color: #3d3d3d;
    margin: 10px 5px;
}

.answerContent > span:nth-child(2){
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    margin: 10px 5px;
}

/*#Answer{*/
/*    border-radius: 4px;*/
/*    padding: 30px;*/
/*    width: 100%;*/
/*    height: auto;*/
/*    margin-bottom: 20px;*/
/*    background: linear-gradient(175deg, rgba(237,231,247,0.33469887955182074) 20%, rgba(110,87,167,0.1380252100840334) 93%);*/
/*}*/

/*.font{*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    color: #23527c;*/
/*}*/
/*.deptFont{*/
/*    color: #beb0d0;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/
